/* 
    Document   : main
    Created on : Feb 8, 2014, 9:25:04 PM
    Author     : shoma
    Description:
        Purpose of the stylesheet follows.
*/

.root .main .baby-menu{
	width: 100%;
	text-align: left;
}

.root .main .baby-menu ul {
	width: 100%;
	height: 100%;
	padding:0;
	margin:0;
}

.root .main .baby-menu ul li {
	padding: 0;
	margin: 0;
	width: 50%;
	float: left;
	text-align: center;
	list-style: none;
}

.root .main .baby-menu ul li a:active,
.root .main .baby-menu ul li a:visited,
.root .main .baby-menu ul li a:hover
{
	color:black;
	font-style: normal;
}

.root .main .baby-menu ul li .feed-redirect-form {
	margin-left: auto;
	margin-right: auto;
}


.feed-redirect-form form {
	width: 280px;
}

