/* 
    Document   : main
    Created on : Feb 8, 2014, 9:25:04 PM
    Author     : shoma
    Description:
        Purpose of the stylesheet follows.
*/

body {
	background-color: rgb(70, 116, 175);
}

.root {
	witdth: 100%;
	height: 100%;
	text-align: center;
	display: block;
}

.root .main {
	width : 600px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	overflow: hidden;
	text-align: left;
	background-color: white;
}

