/* 
    Document   : main
    Created on : Feb 8, 2014, 9:25:04 PM
    Author     : shoma
    Description:
        Purpose of the stylesheet follows.
*/

.root .main .new-baby-form {
	margin: 10% 0 10% 0;
	text-align: center;

}

.root .main .new-baby-form .form-body {
	width: 49%;
	float: left;
	padding: 0 1% 0 0;
	text-align: right;
	overflow: hidden;
	height: auto;
}

.root .main .new-baby-form .form-submit {
	width: 49%;
	float: right;
	padding: 0 0 1px 1%;
	text-align: left;
}

.root .main .new-baby-form .error-input {
	width: 99%;
	padding: 0 1% 0 0;
}


