/* 
    Document   : main
    Created on : Feb 8, 2014, 9:25:04 PM
    Author     : shoma
    Description:
        Purpose of the stylesheet follows.
*/

.root .main .feeds-statistics {
	width: 100%;
	overflow: hidden;
}

.root .main .feeds-statistics #lastFeedsGraph {
	height: 300px;
}

.root .main .feeds-statistics.visible {
	height: auto;
}

.root .main .feeds-statistics.hidden {
	height: 25px;
}

.root .main .feeds-statistics .statistics-bar {
	width: 100%;
	height: 25px;
	text-align: center;
	background-color: white;
}

.root .main .new-feed-form {
	margin: 10% 0 10% 0;
	text-align: center;
	width: 100%;
	height: 50px;

}

.root .main .new-feed-form .form-body {
	width: 69%;
	float: left;
	padding: 0 1% 0 0;
	text-align: right;
	overflow: hidden;
	height: auto;
}

.root .main .new-feed-form .form-submit {
	width: 29%;
	float: right;
	padding: 0 0 1px 1%;
	text-align: left;
}


