/* 
    Document   : validation
    Created on : Feb 8, 2014, 10:16:12 PM
    Author     : shoma
    Description:
        Purpose of the stylesheet follows.
*/



.error-input {
	color: red;
	border-width: 1px;
	border-color: red;
}

